---
import EntryDetails from "@components/Timeline/EntryDetails/EntryDetails.astro";
import type { TimelinableEntry } from "@components/Timeline/types";
import { getEntryDetailsElementId } from "@components/Timeline/entryId";
import { getEntryBgColorClass } from "@components/Timeline/utils";

interface Props {
  entries: TimelinableEntry[];
}

const { entries } = Astro.props;
const entriesTypes = (["jobs", "education", "projects"] as const).map(
  (type) => ({
    collection: type,
  })
);
---

<div
  class="pointer-events-none sticky top-0 col-start-1 row-start-1 grid h-screen items-end pb-4 lg:top-0 lg:col-start-2 lg:h-screen lg:items-center lg:pb-0"
>
  <ul class="absolute right-0 top-4">
    {
      entriesTypes.map((type) => (
        <li>
          <span
            class="inline-block h-4 w-8 rounded-sm"
            class:list={getEntryBgColorClass(type)}
          />
          <span> - </span>
          <span>
            {type.collection.charAt(0).toUpperCase() + type.collection.slice(1)}
          </span>
        </li>
      ))
    }
  </ul>
  {
    entries.map((entry) => {
      const id = getEntryDetailsElementId(entry);

      return (
        <div
          {id}
          class="entry-details pointer-events-auto col-start-1 row-start-1 mx-auto hidden w-full min-w-0 lg:max-w-[640px]"
        >
          <EntryDetails {entry} />
        </div>
      );
    })
  }
</div>

<script>
  import { getEntryDetailsElementId } from "@components/Timeline/entryId";
  import {
    selectedEntry,
    type SelectedEntry,
  } from "@components/Timeline/selectedEntryStore";
  let entryDetailsElements: NodeListOf<Element> | undefined;

  document.addEventListener("astro:page-load", () => {
    entryDetailsElements = document.querySelectorAll(".entry-details");
    updateDetailElements(selectedEntry.get());
  });

  function updateDetailElements(entry: SelectedEntry) {
    if (entry === null) {
      entryDetailsElements?.forEach((element) => {
        element.classList.add("hidden");
      });
    } else {
      entryDetailsElements?.forEach((element) => {
        element.id === getEntryDetailsElementId(entry)
          ? element.classList.remove("hidden")
          : element.classList.add("hidden");
      });
    }
  }

  selectedEntry.subscribe(updateDetailElements);
</script>
