---
import type { Period } from '@content/config';
import { formatPeriod } from '@content/utils';
import { cn } from '@src/utils';
import type { ClassValue } from 'clsx';

interface Props {
  role: string;
  periods: Period[];
  class?: ClassValue[] | string;
}

const { role, periods, class: className } = Astro.props;
---

<div
  class={cn(
    'flex justify-between gap-4 md:text-lg italic items-start',
    className
  )}
>
  <p>{role}</p>
  <div class='text-nowrap text-right text-foreground/40'>
    {periods.map((period) => <p>{formatPeriod(period.start, period.end)}</p>)}
  </div>
</div>
