---
import { cn } from "@src/utils";
import type { ClassValue } from "clsx";

interface Props {
  role: string;
  dateString: string;
  class?: ClassValue[] | string;
}

const { role, dateString, class: className } = Astro.props;
---

<div
  class={cn(
    "flex justify-between gap-4 md:text-lg italic items-center",
    className
  )}
>
  <p>{role}</p>
  <p class="text-nowrap text-right text-foreground/40">{dateString}</p>
</div>
