---
import Section from '@components/CV/ui/Section.astro';
import type { Technology } from '@content/config';

const techSkills: Array<{
  group: string;
  skills: Technology[];
}> = [
  {
    group: 'Web development',
    skills: [
      'React',
      'Angular',
      'Astro',
      'Svelte',
      'Vue',
      'TypeScript',
      'JavaScript',
      'Tailwind CSS',
      'Drizzle',
      'TanStack Query',
      'Vuex',
      'tRPC',
      // 'HTML',
      // 'CSS',
      // 'Sass',
      'RxJS',
      'Vite',
      'Vitest',
      'Jest',
      'Cypress',
      // "React Native",
      'EJS',
      'Chrome Extensions',
      'Express',
      // 'Phaser',
    ],
  },
  {
    group: 'Data science & analytics',
    skills: [
      'Python',
      'pandas',
      'NumPy',
      'Matplotlib',
      'Seaborn',
      'scikit-learn',
      // 'Jupyter',
      'NetworkX',
    ],
  },
  {
    group: 'Other',
    skills: [
      'Git',
      'Gerrit',
      'Linux',
      'Docker',
      'SQLite',
      'MariaDB',
      'MongoDB',
      'Firestore',
    ],
  },
];

const skills = [
  ...techSkills,
  {
    group: 'Languages',
    skills: ['Polish (native)', 'English (fluent)', 'Spanish (intermediate)'],
  },
];
---

<Section title='Skills'>
  <div class='space-y-1'>
    {
      skills.map(({ group, skills }) => (
        <div>
          <h3 class='mt-1 text-sm screen-max-a4:text-base'>{group}</h3>
          <div class='text-2xs screen-max-a4:text-xs'>{skills.join(' ∙ ')}</div>
        </div>
      ))
    }
  </div>
</Section>
