@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 0 0% 100%; hsl(0, 0%, 100%);
    --foreground: 222.2 84% 4.9%; hsl(222.2, 84%, 4.9%);

    --muted: 210 40% 96.1%; hsl(210, 40%, 96.1%);
    --muted-foreground: 215.4 16.3% 46.9%; hsl(215.4, 16.3%, 46.9%);

    --popover: 0 0% 100%; hsl(0, 0%, 100%);
    --popover-foreground: 222.2 84% 4.9%; hsl(222.2, 84%, 4.9%);

    --card: 0 0% 100%; hsl(0, 0%, 100%);
    --card-foreground: 222.2 84% 4.9%; hsl(222.2, 84%, 4.9%);

    --border: 214.3 31.8% 91.4%; hsl(214.3, 31.8%, 91.4%);
    --input: 214.3 31.8% 91.4%; hsl(214.3, 31.8%, 91.4%);

    --primary: 222.2 47.4% 11.2%; hsl(222.2, 47.4%, 11.2%);
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7, 26.8%, 83.9;
  }
} */

/* https://www.realtimecolors.com/?colors=040703-fafdf7-70c24c-8dd5d8-6b98cc&fonts=Archivo-Archivo */

@layer base {
  :root {
    --background: 90 60% 98%; /* hsl(90 60% 98%) */
    --foreground: 105 40% 2%; /* hsl(105 40% 2%) */

    --background-tint: 90 30% 95%; /* hsl(90 60% 95%) */

    --card: 90 60% 95%; /* hsl(90 60% 98%) */
    --card-foreground: 105 40% 2%; /* hsl(105 40% 2%) */

    --primary: 102 49% 53%; /* hsl(102 49% 53%) */
    --primary-foreground: 105 40% 2%; /* hsl(105 40% 2%) */

    --secondary: 182 49% 70%; /* hsl(182 49% 70%) */
    --secondary-foreground: 105 40% 2%; /* hsl(105 40% 2%) */

    --accent: 212 49% 61%; /* hsl(212 49% 61%) */
    --accent-foreground: 105 40% 2%; /* hsl(105 40% 2%) */

    --destructive: 0 85% 60%; /* hsl(0 85% 60%) */
    --destructive-foreground: 105 40% 2%; /* hsl(105 40% 2%) */

    --border: 105 20% 85%; /* hsl(90 61% 20%) */
    --ring: 212 49% 40%; /* hsl(212 49% 40%) */

    --radius: 0.5rem;
  }

  .dark {
    --background: 90 60% 2%; /* hsl(90 60% 2%) */
    --foreground: 105 40% 98%; /* hsl(105 40% 98%) */

    --background-tint: 90 60% 5%; /* hsl(90 60% 5%) */

    --card: 90 60% 4%; /* hsl(90 60% 2%) */
    --card-foreground: 105 40% 98%; /* hsl(105 40% 98%) */

    --primary: 102 49% 47%; /* hsl(102 49% 47%) */
    --primary-foreground: 90 60% 2%; /* hsl(90 60% 2%) */

    --secondary: 182 49% 30%; /* hsl(182 49% 30%) */
    --secondary-foreground: 105 40% 98%; /* hsl(105 40% 98%) */

    --accent: 212 49% 50%; /* hsl(212 49% 39%) */
    --accent-foreground: 105 40% 98%; /* hsl(105 40% 98%) */

    --destructive: 0 62% 30%; /* hsl(0 62% 30%) */
    --destructive-foreground: 106 41% 10%; /* hsl(106 41% 10%) */

    --border: 105 15% 12%; /* hsl(105 20% 25%) */
    --ring: 212 49% 60%; /* hsl(212 49% 60%) */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
