@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 0 0% 100%; hsl(0, 0%, 100%);
    --foreground: 222.2 84% 4.9%; hsl(222.2, 84%, 4.9%);

    --muted: 210 40% 96.1%; hsl(210, 40%, 96.1%);
    --muted-foreground: 215.4 16.3% 46.9%; hsl(215.4, 16.3%, 46.9%);

    --popover: 0 0% 100%; hsl(0, 0%, 100%);
    --popover-foreground: 222.2 84% 4.9%; hsl(222.2, 84%, 4.9%);

    --card: 0 0% 100%; hsl(0, 0%, 100%);
    --card-foreground: 222.2 84% 4.9%; hsl(222.2, 84%, 4.9%);

    --border: 214.3 31.8% 91.4%; hsl(214.3, 31.8%, 91.4%);
    --input: 214.3 31.8% 91.4%; hsl(214.3, 31.8%, 91.4%);

    --primary: 222.2 47.4% 11.2%; hsl(222.2, 47.4%, 11.2%);
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7, 26.8%, 83.9;
  }
} */

/* https://www.realtimecolors.com/?colors=0e0601-fefaf6-ee7b17-7ff5de-508ef2&fonts=Inter-Inter */

@layer base {
  :root {
    --background: 30 80% 98%;
    --foreground: 23 87% 3%;

    --card: 30 10% 95%;
    --card-foreground: 23 87% 3%;

    --primary: 28 100% 60%;
    --primary-foreground: 23 87% 3%;

    --secondary: 168 86% 73%;
    --secondary-foreground: 23 87% 3%;

    --accent: 217 86% 63%;
    --accent-foreground: 23 87% 99%;

    --link: var(--accent);

    --border: 214.3 31.8% 91.4%;
    --ring: 217 86% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 30 80% 2%;
    --foreground: 23 87% 97%;

    --card: 30 80% 2%;
    --card-foreground: 23 87% 97%;

    --primary: 28 85% 40%;
    --primary-foreground: 30 80% 99%;

    --secondary: 168 86% 27%;
    --secondary-foreground: 23 87% 97%;

    --accent: 217 86% 37%;
    --accent-foreground: 23 87% 97%;

    --link: 217 86% 60%;

    --border: 217.2 32.6% 17.5%;
    --ring: 217 86% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
