---
import Layout from "@layouts/Layout.astro";
import { Button } from "@components/ui/button";
import Header from "@components/CV/Header/Header.astro";
import ThemeSwitcher from "@components/ThemeSwitcher.svelte";
import Experience from "@components/CV/sections/Experience.astro";
import Skills from "@components/CV/sections/Skills.astro";
import Interests from "@components/CV/sections/Interests.astro";
import Education from "@components/CV/sections/Education.astro";
import Projects from "@components/CV/sections/Projects.astro";
import { Fragment } from "astro/jsx-runtime";
---

<Layout subtitle="CV">
  <div class="my-4 flex justify-center print:hidden">
    <Button href="/Adam_Steciuk_CV.pdf" variant="default" target="_blank">
      Download PDF
    </Button>
  </div>
  <div
    class="page mx-auto my-4 min-h-a4 w-a4 max-w-a4 rounded-sm border-2 bg-background p-[0.7cm] shadow-md screen-max-a4:mx-1 screen-max-a4:w-auto screen-max-a4:p-2 print:m-0 print:h-a4 print:overflow-hidden print:rounded-none print:border-0 print:bg-[#fff] print:shadow-none"
  >
    <Header />
    <main class="mt-1 grid grid-cols-2 gap-3 screen-max-a4:hidden">
      <div>
        <Experience />
        <Skills />
        <Interests />
      </div>
      <div>
        <Education />
        <Projects />
      </div>
    </main>
    <main class="mt-1 a4:hidden print:hidden">
      <Experience />
      <Education />
      <Projects />
      <Skills />
      <Interests />
    </main>
  </div>
</Layout>

<style>
  @page {
    size: A4;
    margin: 0;
  }

  @media print {
    .page {
      page-break-after: always;
    }
  }
</style>
