---
import Layout from "@layouts/Layout.astro";
import ThemeSwitcher from "@components/ThemeSwitcher.svelte";
import Timeline from "@components/Timeline/Timeline.astro";
import Palette from "@components/Palette/Palette.astro";
---

<Layout title="Adam Steciuk">
  <main>
    <h1>Adam Steciuk</h1>
    <ThemeSwitcher client:only="svelte" />
    <Timeline />
  </main>
</Layout>
