---
import LogoAnimation from "@components/LogoAnimation.astro";
import { Button } from "@components/ui/button";
import Layout from "@layouts/Layout.astro";
---

<Layout forceBurger={true}>
  <main
    class="container relative flex min-h-svh flex-col items-center justify-center gap-8"
  >
    <LogoAnimation />
    <div class="flex gap-4">
      <Button variant="secondary" href="/cv">View my CV</Button>
      <Button href="/timeline">View my timeline</Button>
    </div>
  </main>
</Layout>
