---
import Logo from "@components/ui/Logo.astro";
import Layout from "@layouts/Layout.astro";

const text = "Adam Steciuk".split("");
console.log(text);
---

<Layout>
  <main class="container flex min-h-svh flex-col items-center justify-center">
    <h1 class="text-8xl font-bold">
      {
        text.map((letter, index) => (
          <span
            class="letter inline-block"
            style={{ animationDelay: `${index * 0.1}s` }}
          >
            {letter === " " ? "\u00A0" : letter}
          </span>
        ))
      }
    </h1>
    <div class="logo" style={{ animationDelay: `${text.length * 0.1}s` }}>
      <Logo class="mt-4 h-64 w-64" />
    </div>
  </main>
</Layout>

<style>
  .letter,
  .logo {
    animation: fadeIn 0.2s ease-in-out forwards;
    opacity: 0;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
</style>
