---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main class="container relative flex min-h-svh items-center justify-center">
    <div
      class="animation relative flex w-max select-none overflow-hidden font-mono"
    >
      <div class="symbol-wrapper">
        <div class="symbol lt-symbol"></div>
      </div>
      <div class="flex items-center">
        <div class="text-wrapper text-wrapper-steciuk">
          <span class="character">
            <span class="character-s">s</span>
          </span>
          <span class="character">t</span>
          <span class="character">e</span>
          <span class="character">c</span>
          <span class="character">i</span>
          <span class="character">u</span>
          <span class="character">k</span>
          <span class="character">.</span>
        </div>
        <div class="text-wrapper text-wrapper-dev">
          <span class="character">d</span>
          <span class="character">e</span>
          <span class="character">v</span>
          <span class="character">
            <span class="character-slash">/</span>
          </span>
        </div><>
          <span class="animation-cursor-wrapper">
            <span class="animation-cursor-wrapper-2">
              <span class="animation-cursor">|</span>
            </span>
          </span>
        </>
        <div class="symbol-wrapper">
          <div class="symbol gt-symbol"></div>
        </div>
      </div>
    </div>
  </main>

  <style lang="scss">
    $font-size: 4rem;

    .animation {
      font-size: $font-size;
      line-height: 1;
    }

    $num-letters-steciuk: 8;
    $num-letters-dev: 4;
    $num-letters-total: $num-letters-steciuk + $num-letters-dev;

    $letter-appear-time: 0.1s;
    $symbol-animation-time: 1s;
    $cursor-move-time: 1s;

    $animation-delay: 2s; // at the beggining
    $slash-delay: $animation-delay + $letter-appear-time * $num-letters-dev + 3s; // after dev
    $cursor-move-delay: $slash-delay + $letter-appear-time + 0.8s; // after slash
    $steciuk-delay: $cursor-move-delay + $cursor-move-time; // after cursor
    $symbol-delay: $steciuk-delay + $letter-appear-time * $num-letters-steciuk +
      1s; // after steciuk

    .animation-cursor-wrapper {
      position: absolute;
      right: 0.5ch;
      animation: cursor-move $cursor-move-time forwards $cursor-move-delay;
    }

    $cursor-move-jump: 2%;
    $num-leters-dev-without-slash: $num-letters-dev - 1;
    @keyframes cursor-move {
      @for $i from 0 through $num-leters-dev-without-slash - 1 {
        #{calc($i * 100% / $num-leters-dev-without-slash)} {
          transform: translateX($i * -1ch);
        }
        #{calc($i * 100% / $num-leters-dev-without-slash + $cursor-move-jump)} {
          transform: translateX(($i + 1) * -1ch);
        }
      }
      100% {
        transform: translateX($num-leters-dev-without-slash * -1ch);
      }
    }

    .animation-cursor-wrapper-2 {
      animation: fade-away 1s forwards $symbol-delay;
    }

    .animation-cursor {
      animation: blink 0.95s infinite;
    }

    .symbol-wrapper {
      display: inline-block;
      width: 1ch;
      height: 1em;
    }

    .symbol {
      display: inline-block;
      width: 1ch;
      height: 1ch;

      animation-duration: $symbol-animation-time;
      animation-delay: $symbol-delay;
      animation-fill-mode: forwards;

      background-size: contain;
      background-repeat: no-repeat;
    }

    .lt-symbol {
      background-image: url("/lt-dark.svg");
      background-position: left;
      animation-name: lt-move;
    }

    .gt-symbol {
      background-image: url("/gt-dark.svg");
      background-position: right;
      animation-name: gt-move;
    }

    :global(.dark) {
      .lt-symbol {
        background-image: url("/lt-light.svg");
      }

      .gt-symbol {
        background-image: url("/gt-light.svg");
      }
    }

    .text-wrapper {
      font-size: 0;

      & > * {
        display: inline-block;
        font-size: $font-size;
      }
    }

    .character {
      opacity: 0;
      position: absolute;
    }

    .character-s {
      animation: fade-away 1s forwards $symbol-delay;
    }

    @for $i from 1 through $num-letters-steciuk {
      .text-wrapper-steciuk > .character:nth-child(#{$i}) {
        animation: letter-appear
          0.01s
          forwards
          ($steciuk-delay + $letter-appear-time * $i);
      }
    }

    @for $i from 1 through $num-letters-dev {
      .text-wrapper-dev > .character:nth-child(#{$i}) {
        animation: letter-appear
          0.01s
          forwards
          ($animation-delay + $letter-appear-time * $i);
      }
    }

    .character-slash {
      animation: letter-disappear $letter-appear-time forwards $slash-delay;
    }

    @keyframes fade-away {
      to {
        opacity: 0;
      }
    }

    @keyframes letter-disappear {
      98% {
        opacity: 1;
        position: static;
      }
      99% {
        opacity: 0;
        position: static;
      }
      100% {
        opacity: 0;
        position: absolute;
      }
    }

    @keyframes letter-appear {
      98% {
        opacity: 0;
        position: absolute;
      }
      99% {
        opacity: 0;
        position: static;
      }
      100% {
        opacity: 1;
        position: static;
      }
    }

    $symbol-distance-x: 0.03ch;
    $symbol-distance-y: 0.2ch;
    $symbol-left-offset: 0.1ch;
    @keyframes lt-move {
      to {
        transform: translate(
          1ch - $symbol-distance-x - $symbol-left-offset,
          $symbol-distance-y * -1
        );
      }
    }

    @keyframes gt-move {
      to {
        transform: translate(
          ($num-letters-total - 1) * -1ch + $symbol-distance-x -
            $symbol-left-offset,
          $symbol-distance-y
        );
      }
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
  </style>
</Layout>
