---
import Layout from "@layouts/Layout.astro";
import Timeline from "@components/Timeline/Timeline.astro";
---

<Layout
  subtitle="Timeline"
  footerClass="absolute bottom-0 left-1/2 -translate-x-1/2 -z-10"
>
  <main
    class:list={[
      "before:fixed before:left-1/2 before:top-1/2 before:-z-10 before:h-3/4 before:w-3/4 before:animate-[spin_45s_linear_infinite] before:rounded-bl-full before:rounded-tr-full before:bg-primary/50 before:blur-3xl after:fixed after:left-3/4 after:top-3/4 after:-z-10 after:h-1/2 after:w-1/2 after:animate-[spin_40s_linear_infinite_reverse] after:rounded-br-full after:rounded-tl-full after:bg-secondary after:blur-3xl",
    ]}
  >
    <Timeline />
  </main>
</Layout>
