---
import ProjectCard from "@components/EntryCard/ProjectCard.astro";
import H1 from "@components/ui/H1.astro";
import { sortByDate } from "@content/utils";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
projects.sort((a, b) => sortByDate(b.data.end, a.data.end));
---

<Layout subtitle="Projects">
  <main class="container">
    <!-- TODO: style the h1 -->
    <H1>Projects</H1>
    <section class="mx-auto flex max-w-6xl flex-col gap-8">
      {
        projects.map((entry) => (
          <ProjectCard entry={entry} class="bg-card text-card-foreground" />
        ))
      }
    </section>
  </main>
</Layout>
