---
import Layout from "@layouts/Layout.astro";
import TimelineBody from "@components/Timeline/Timeline.astro";
import H1 from "@components/ui/H1.astro";
---

<Layout
  subtitle="Timeline"
  footerClass="absolute bottom-0 left-1/2 -translate-x-1/2 -z-10"
>
  <main class="relative">
    <H1 class="absolute w-full">The Timeline</H1>
    <TimelineBody />
  </main>
</Layout>
