---
import { Button } from "@components/ui/button";
import { website } from "@src/links";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class="mt-8 p-2 text-center" class:list={className}>
  &copy; <span id="footer-year">2024</span>
  <Button href={website} size="inline" variant="link" class="font-semibold">
    Adam Steciuk
  </Button>
</div>
<script>
  const year = new Date().getFullYear();
  const footerYear = document.getElementById("footer-year");
  if (footerYear) {
    footerYear.textContent = `${year}`;
  }
</script>
