---
import { Button } from "@components/ui/button";
import { website } from "@src/links";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const year = new Date().getFullYear();
---

<footer class="mt-8 p-2 text-center" class:list={className}>
  &copy; <span id="footer-year">{year}</span>
  <Button
    href={website}
    size="inline"
    variant="link"
    class="whitespace-nowrap font-medium"
  >
    Adam Steciuk
  </Button>
</footer>
<script>
  const year = new Date().getFullYear();
  const footerYear = document.getElementById("footer-year");
  if (footerYear) {
    footerYear.textContent = `${year}`;
  }
</script>
