---
import { Button } from "@components/ui/button";
import { cn } from "@src/utils";
import { Menu } from "lucide-svelte";

interface Props {
  class?: string;
  forceBurger?: boolean;
}

const { class: className, forceBurger } = Astro.props;
---

<header
  class={cn(
    "fixed left-0 top-0 z-20 inline-block",
    {
      "lg:hidden": !forceBurger,
    },
    className
  )}
>
  <Button
    size="icon"
    id="open-main-nav-btn"
    class="m-4"
    aria-label="Open main navigation"
  >
    <Menu />
  </Button>
</header>

<script>
  import { navOpen } from "@components/Nav/navOpenStore";

  document.addEventListener("astro:page-load", () => {
    const openMainNavBtn = document.getElementById("open-main-nav-btn");
    openMainNavBtn?.addEventListener("click", () => {
      navOpen.set(true);
    });
  });
</script>
