---
interface Props {
  text: string;
  heightPx: number;
}

const { text, heightPx } = Astro.props;
---

<div
  class={`flex items-center gap-2`}
  style={{
    height: `${heightPx}px`,
  }}
>
  <div class="text-right text-sm">{text}</div>
  <div class="inline-block h-0.5 w-4 bg-foreground"></div>
</div>
