---
interface Props {
  text: string;
  heightPx: number;
}

const { text, heightPx } = Astro.props;
---

<div
  class={`flex items-center`}
  style={{
    height: `${heightPx}px`,
  }}
>
  <>
    <div class="inline-block h-1 w-8 bg-primary"></div>
    <div>{text}</div>
  </>
</div>
