---
import { cn } from "@src/utils";
import type { ClassValue } from "clsx";

interface Props {
  class?: ClassValue[] | string;
}

const { class: className } = Astro.props;
---

<li
  class={cn(
    "contact-item flex items-center gap-1 sm:gap-2 text-xs sm:text-sm text-right",
    className
  )}
>
  <slot />
</li>

<style is:global>
  .contact-item svg {
    width: 1.5em;
  }
</style>
