---
import Logo from "@components/ui/Logo.astro";
import type { ImageObject } from "@content/config";
import { Image } from "astro:assets";

interface Props {
  image?: ImageObject;
  class?: string;
  isTimeline?: boolean;
}

const { image, class: className, isTimeline } = Astro.props;
---

<div class="@container">
  <div
    class="rounded-sm bg-card p-2 text-left text-card-foreground md:p-4"
    class:list={[
      className,
      { "@2xl:flex-row": !isTimeline, "sm:flex-row lg:flex-col": isTimeline },
    ]}
  >
    <div
      class="mb-2 aspect-video w-full max-w-full flex-shrink-0 overflow-hidden rounded-sm md:mb-4"
      class:list={{
        "@2xl:max-w-[13rem]": !isTimeline,
        "sm:max-w-[13rem] lg:max-w-full": isTimeline,
      }}
    >
      {
        image ? (
          <Image
            src={image.src}
            alt={image.alt}
            quality="high"
            width={720}
            height={405}
            class="h-full w-full max-w-full object-cover"
          />
        ) : (
          <div class="grid h-full w-full place-items-center bg-accent bg-opacity-20">
            <Logo class="h-4/5 w-4/5" />
          </div>
        )
      }
    </div>
    <slot />
  </div>
</div>
