---
import { cn } from "@src/utils";
import type { ClassValue } from "clsx";

interface Props {
  class?: ClassValue[];
}

const { class: className } = Astro.props;
---

<h2 class={cn("text-xl md:text-2xl font-bold text-balance", className)}>
  <slot />
</h2>
