@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: 6 40 31;
    --background-color: 229 250 245;
    --primary-color: 21 122 95;
    --secondary-color: 111 205 231;
    --accent-color: 33 120 192;

    color-scheme: light dark;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: 215 249 240;
      --background-color: 5 26 21;
      --primary-color: 133 234 207;
      --secondary-color: 24 118 144;
      --accent-color: 63 151 222;
    }
  }

  :root[data-theme="dark"] {
    --text-color: 215 249 240;
    --background-color: 5 26 21;
    --primary-color: 133 234 207;
    --secondary-color: 24 118 144;
    --accent-color: 63 151 222;
  }

  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono",
      "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  }
}
