---
import { SEO } from "astro-seo";
interface Props {
  title?: string;
}

const description = "// TODO: Add a description";

const { title = "Adam Steciuk" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: "// TODO: Add an image",
        },
        optional: {
          description: description,
          siteName: "Adam Steciuk",
        },
      }}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Adam Steciuk" />
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
      }
      code {
        font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono",
          "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New",
          monospace;
      }
    </style>
  </body>
</html>
