---
import { SEO } from "astro-seo";
import "@styles/app.css";
import Nav from "@components/Nav/Nav.astro";
import Header from "@components/Header.astro";

interface Props {
  subtitle?: string;
}

const description = "// TODO: Add a description";

const { subtitle } = Astro.props;
const title =
  subtitle && subtitle.trim() !== "Adam Steciuk"
    ? `${subtitle} | Adam Steciuk`
    : "Adam Steciuk";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: "// TODO: Add an image",
        },
        optional: {
          description: description,
          siteName: "Adam Steciuk",
        },
      }}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Adam Steciuk" />
  </head>
  <body>
    <Header />
    <div class="flex">
      <Nav />
      <div class="flex-grow">
        <slot />
      </div>
    </div>
    <script is:inline>
      const isBrowser = typeof localStorage !== "undefined";
      const getThemePreference = () => {
        const persistedPreference = isBrowser && localStorage.getItem("theme");
        if (persistedPreference) {
          return persistedPreference;
        }
        return window.matchMedia("(prefers-color-scheme: light)").matches
          ? "light"
          : "dark";
      };
      const isDark = getThemePreference() === "dark";
      document.documentElement.classList[isDark ? "add" : "remove"]("dark");
    </script>
  </body>
</html>
