---
import { cn } from "@src/utils";
import type { ClassValue } from "clsx";

interface Props {
  class?: ClassValue[] | string;
}

const { class: className } = Astro.props;
---

<h1 class={cn("text-4xl font-bold text-center p-6", className)}><slot /></h1>
