---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener"
  class="text-primary no-underline underline-offset-4 hover:underline"
>
  <slot />
</a>
