---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "prose-a:text-link prose text-foreground prose-a:font-normal",
    className,
  ]}
>
  <slot />
</div>
