---
import { cn } from "@src/utils";
import type { ClassValue } from "clsx";

interface Props {
  class?: ClassValue[] | string;
}

const { class: className } = Astro.props;
---

<div
  class={cn(
    "prose text-foreground prose-a:no-underline leading-normal prose-ul:my-0",
    className
  )}
>
  <slot />
</div>
