---
import type { CollectionKey } from "astro:content";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<CollectionKey>;
  class?: string;
}

const { entry, class: className } = Astro.props;
const { Content } = await entry.render();
---

<div
  class:list={[
    "prose prose-code:font-regular prose-code:after:content-[none] prose-code:before:content-[none] prose-a:no-underline prose-a:font-normal text-foreground",
    className,
  ]}
>
  <Content />
</div>
